* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  content: "";
  display: table;
  clear: both;
}

main {
  height: calc(100vh - 100px);
  width: 100%;
  border: 3px solid black;
}





.my-left-nav-container,
.my-container-result {
  float: left;
}

.my-container-result {
  width: calc(100% - 230px);
  height: 100%;
}

/* DEFINIZIONE DELLA ZONA SINISTRA DI NAVIGAZIONE */

.my-left-nav-container {
  width: 230px;
  height: calc(100vh - 150px);
  background-color: #000000;
}
/* LOGO SPOTIFY */
.my-left-nav-logo {

  height: 75px;
  display: flex;
  align-items: center;

}

.logo-spotify>img {
  height: 50px;
}

.my-left-nav-containerdown {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: green;
}

.my-left-nav-containerdown-up,
.my-left-nav-containerdown-down {
  width: 100%;
  height: 50px;
  background-color: pink;
  border: 1px solid yellow;
}









.my-top-nav {
  height: 75px;
  background-color: yellow;
}

.my-result {
  width: 100%;
  background-color: green;
}

.my-player {
  height: 100%;
  width: 100%;




}

.myfooter {
  height: 100px;
  width: 100%;
  background-color: red;
  z-index: 3;
}
