* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* HOVER E LINK */
.whitechange:hover {
  color: white;
  text-decoration: none;
}

.whitechange-u:hover {
  color: white;
  text-decoration: underline;
}

.textgrey {
  color: #7D7D7D;
  text-decoration: none;
}

/* MACROSTRUTTURA */

main {
  content: "";
  display: table;
  clear: both;
}

main {
  height: calc(100vh - 100px);
  width: 100%;
  background-color: black;
}

.my-left-nav,
.my-container-result {
  float: left;
}

.my-left-nav {
  width: 400px;
  height: calc(100vh - 100px);
  background-color: #000000;
  display: flex;
  justify-content: center;
}

.my-upgrade {
  height: 75px;
  width: 100%;
  background-color: yellow;
  text-align: center;
  display: flex;
  justify-content: center;
}

.my-upgrade-container {
  width: 100%;
  height: 100%;
  background-color: brown;
  margin: 0 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.my-container-result {
  width: calc(100% - 400px);
  height: 100%;
}

.my-footer {
  height: 100px;
  width: 100%;
  background-color: red;
  display: flex;
  justify-content: center;
}



/* FINE MACROSTRUTTURA */
/* DEFINIZIONE DELLA ZONA SINISTRA DI NAVIGAZIONE */

.my-left-nav-container {
  width: 100%;
  margin: 0 15px 15px 15px;
  background-color: green;
}

/* LOGO SPOTIFY */
.my-left-nav-logo {
  height: 75px;
  display: flex;
  align-items: center;


}

.logo-spotify>img {
  height: 50px;
}

.my-left-nav-containerdown {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 75px);

}

.my-left-nav-containerdown-up,
.my-left-nav-containerdown-down {
  width: 100%;

}

.my-homesearchlibrary {
  display: flex;
  flex-direction: column;
}

.hsl {
  width: 100%;
  border: 1px solid yellow;
  margin-top: 5px;
}

.hsl>img {
  width: 30px;
}

.album-title {
  font-size: 15px;
  color: white;
}

.my-playlist {
  margin: 20px 0 10px 0;
}

.my-playlist-creation {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 5px 0;
  border: 1px solid yellow;
}

.my-playlist ul li{
  margin: 10px 0;
  list-style-type: none;
}
#my-more {
  font-size: 30px;
  font-weight: bold;
  color: black;
  padding: 0px 15px 6px 15px;
  background: grey;
  margin-right: 5px;

}

.my-userprofile {
  width: 100%;
}

.my-userprofile>img {
  width: 25px;
  border: 1px solid orange;
  padding: 2px;
  border-radius: 50%;
  background-color: grey;
}

/* NAVIGATORE PER L'UPGRADE */

#upgrade {
  border: 3px solid white;
  padding: 5px 10px;
  border-radius: 15px;
}

/* ZONA DEI RISULTATI */

.my-result {
  width: 100%;
  height: calc(100vh - 175px);
  background-color: violet;
  display: flex;
  justify-content: center;
  overflow: scroll;
}

.my-result-container {
  width: 100%;
  margin: 0 15px 15px 15px;
  background-color: green;
}

.my-result-nav {
  display: flex;
  justify-content: space-evenly;
  padding: 15px 0;
  border: 1px solid black;
}

.my-result-nav ul li{
  display: inline;
  list-style-type: none;
  margin: 0 10px;

}

.h3-album-title {
  color: white;
}

.my-result-albumlist {
  width: 100%;
  background-color: orange;
  display: flex;
}

.albumlist-imagedescription {
  text-align: center;
  background-color: blue;
  width: calc((100% - 50px)/6);
  margin-left: 10px;
}

.my-result-albumlist div:first-child {
    margin-left: 0;
}
.albumlist-imagedescription img {
  width: 100%;
  display: block;
}

.albumlist-imagedescription img:hover {
  
}

.my-album-subtitle {
  font-size: 10px;
  display: block;
  margin-bottom: 20px;
}

.h3-album-subtitle {
  font-size: 10px;
  color: grey;
}

.album-subtitle {
  display: block;
}

.circleportrait {
  border-radius: 50%;
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER  */

.my-footer {
  display: flex;
  justify-content: center;
}

.my-footer-container {
  width: 100%;
  height: 100%;
  margin: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: GoldenRod;
}

.my-player-contentleft,
.my-player-contentright {
  width: 385px;
  height: 100%;
  background-color: cyan;
  display: flex;
  align-items: center;
}



.my-minialbum-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.minicover-image img {
  width: 75px;
  margin-right: 15px;
}

.my-minialbum-coverdescription {
  display: flex;
  align-items: center;
}

#mini-title {
  color: white;
  font-size: 20px;
  display: block;
}

.mini-subtitle {
  color: grey;
  font-size: 15px;
}

.my-minialbum-likefolder {
  display: flex;
  align-items: center;
}

.my-minialbum-likefolder>ul {
  margin-bottom: 0;
}

.my-minialbum-likefolder ul li {
  list-style-type: none;
  display: inline;
  color: grey;
  font-size: 25px;

}

.my-minialbum-likefolder ul li:last-child {
  margin-left: 10px;
}

/* PARTE CENTRALE DEL FOOTER */
/* PARTE CENTRALE SUPERIORE, PLAYER BUTTONS */

.my-player-contentmiddle {
  width: calc(100% - 770px);
}

.my-player-buttons {
  display: flex;
  justify-content: center;
}

.my-player-buttons ul li {
  list-style-type: none;
  display: inline;
  color: white;
  font-size: 30px;
}

.my-player-buttons ul li:nth-child(1n+2) {
  margin-left: 15px;
}

/* LINEA DEL TEMPO */
.my-time-container {
  width: 100%;
  background-color: violet;
  display: flex;
  justify-content: center;
  align-items: center;

}


.my-timelaps {
  position: relative;
  border: 3px solid #5a5a5a;
  width: 50%;
  height: 1px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.my-timelaps-active {
  position: absolute;
  width: 20%;
  height: 1px;
  border: 3px solid #c1c1c1;
  top: -3px;
  left: -3px;
}

#minutesecond {
  font-size: 15px;
  color: white;
}

/* PARTE DESTRA DEL FOOTER */



.my-media-container {
  width: 100%;
  background-color: olive;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.my-mediaselection {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.my-mediaselection>ul {
  margin-bottom: 0;
}

.my-mediaselection ul li {
  list-style-type: none;
  display: inline;
  color: white;
  font-size: 20px;
}

.my-mediaselection ul li:nth-child(1n+2) {
  margin-left: 15px;
}

.my-volumecontroller {
  position: relative;
  border: 3px solid #5a5a5a;
  width: 50%;
  height: 1px;
  border-radius: 5px;
  margin-left: 15px;
}

.my-volumecontroller-active {
  position: absolute;
  width: 20%;
  height: 1px;
  border: 3px solid #c1c1c1;
  top: -3px;
  left: -3px;
}
